body {
	background-color: #eddab9;
	margin: 0;
	overflow-x: hidden;
	min-width: 700px;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url('../images/gateopen.png');
}

#block1 {
	margin: 0;
	padding-bottom: 40%;
	position: relative;
	z-index: 1;

}



#fork {
	position: absolute;
	right: -15%;
	top: 35%;
	width: 10%;
	z-index: 2;
	-moz-transition: 800ms ease-in-out;
  -webkit-transition: 800ms ease-in-out;
  transition: 800ms ease-in-out;
  transform-origin: bottom left;
}

.rotate3 {
    -moz-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
}

#knife {
	position: absolute;
	left: -10%;
	top: -5%;
	width: 8%;
	z-index: 2;
	-moz-transition: 800ms ease-in-out;
  -webkit-transition: 800ms ease-in-out;
  transition: 800ms ease-in-out;
  transform-origin: bottom left;
}

.rotate1 {
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}

#spoon {
	position: absolute;
	right: -10%;
	top: 5%;
	width: 10%;
	z-index: 2;
	-moz-transition: 800ms ease-in-out;
  -webkit-transition: 800ms ease-in-out;
  transition: 800ms ease-in-out;
  transform-origin: bottom left;
}

.rotate2 {
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
 }



#tablecloth {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}

.ch4header {
	position: absolute;
	top: 30%;
	width: 54%;
	left: 50%;
	margin-left: -27%;
}

.ch4header img {
	width: 100%;
}


@media screen and (max-width: 900px) {
	.ch4header h2 {
		font-size: 1.3rem;
		margin-top: -5%;
	}
}





/*------BLOCK 2------*/


#block2 {
	margin: 0;
	position: relative;
	z-index: 1;
	padding-bottom: 10%;

}

#block3 {
	margin: 0;
	position: relative;
	z-index: 1;
	padding-bottom: 10%;
}

#table {
	display: block;
	width: 80%;
	margin: auto;
}



#block4 {
	margin: 0;
	position: relative;
	z-index: 1;
}



.gate {
	width: 50rem;
	height: 45rem;
	display: block;
	margin: auto;
	background-image:url('../images/gate.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.gatehover {
	background-image:url('../images/gateopen.png');
	background-size: contain;
	background-repeat: no-repeat;
}


@media only screen and (max-width: 900px) {
	.gate {
		width: 40rem;
		height: 30rem;
  }
}