body {
	background-color: #eddab9;
	margin: 0;
	overflow-x: hidden;
	min-width: 700px;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url('../images/decreegif.gif');
}

#block1 {
	margin: 0;
	width: 100%;
	padding-bottom: 45%;
	position: relative;
	z-index: 1;
}


.ch6header {
	position: absolute;
	left: 20%;
	top: 38%;
	width: 45%;
	margin-bottom: 10rem;
}

.ch6header img {
	width: 100%;
}


#tart1 {
	position: absolute;
	right: -8%;
	top: -15%;
	width: 40%;
}

#tart2 {
	position: absolute;
	left: -5%;
	top: -10%;
	width: 40%;
}

#tart3 {
	position: absolute;
	left: -10%;
	top: 60%;
	width: 35%;
}


.slideright1 {
 -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: slideRight;
  animation-delay: 1.2s;
}

.slideright2 {
 -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: slideRight;
  animation-delay: 1.4s;
}

@keyframes slideRight {
   0% {
      transform: translateX(-100%);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
} 

.slideleft {
 -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: slideLeft;
  animation-delay: 1.5s;
}

@keyframes slideLeft {
   0% {
      transform: translateX(100%);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
} 



@media only screen and (max-width: 1350px) {
	.ch6header h3 {
		font-size: 1.3rem;
		margin-top: -5%;
	}
}


@media only screen and (max-width: 900px) {
	#tart3 {
		width: 25%;
	}
	#tart1 {
		right: -12%;
	}
	.ch6header {
		width: 50%;
	}
}





/*-----BLOCK2-----*/




#block2 {
	margin: 0 0 0 0;
	position: relative;
	z-index: 1;
}

#decree {
	width: 180%;
	margin-left: -25%;
	cursor: pointer;
}

@media only screen and (max-width: 900px) {
	#block2 .blocktextright {
		margin: auto;
	}

	#decree {
		width: 150%;
		margin-left: -25%;
	}
}


@media only screen and (max-width: 800px) {
	#decree {
		width: 130%;
		margin-left: -15%;
	}
}






/*------BLOCK3-----*/

#block3 {
	margin: 0;
	padding-bottom: 120%;
	position: relative;
	z-index: 2;
}



#yarg {
	position: absolute;
	width: 45%;
	right: 5%;
	bottom: 25%;
	z-index: 4;
}

#cards {
	position: absolute;
	width: 110%;
	left: -10%;
	bottom: 3%;
	z-index: 7;
}
#cards2 {
	position: absolute;
	width: 100%;
	left: 5%;
	bottom: 7%;
	z-index: 6;
}

#cards3 {
	position: absolute;
	width: 90%;
	left: 10%;
	bottom: 10%;
	z-index: 5;
}

#cards4 {
	position: absolute;
	width: 90%;
	right: 5%;
	bottom: 25%;
	z-index: 3;
}

#cards5 {
	position: absolute;
	width: 101%;
	right: -1%;
	bottom: 25%;
	z-index: 2;
}


#packofcards {
	position: absolute;
	width: 50%;
	left: 3%;
	bottom: 55%;
	z-index: 1;
}


#block4 {
	margin: -30rem 0 0 0;
	height: 260vh;
	position: relative;
	z-index: 1;
	overflow: hidden;
}


#block45 {
	width: 100%;
	height: 400%;
	background: url('../images/pattern.jpg');
	background-size: 30%;
	animation: slide 100s linear infinite;
	z-index: 2;
}



@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 300%; }
}


#cardsfade {
	width: 100%;
	height: 50%;
	background: url('../images/halftone.png');
	background-position: bottom left;
	background-size: 100%;
	z-index: 3;
	position: absolute;
	bottom: -2%;
	left: 0;
	background-repeat: no-repeat;
}

#halftone {
	width: 100%;
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
}


@media only screen and (max-width: 1300px) {
	#block4 {
	margin: -25rem 0 0 0;
}
}

@media only screen and (max-width: 1100px) {
	#block4 {
	margin: -20rem 0 0 0;
}
}

@media only screen and (max-width: 900px) {
	#block4 {
	margin: -15rem 0 0 0;
}
}





#block5 {
	margin: -30vh 0 0 0;
	position: relative;
	z-index: 5;
	overflow: hidden;
}

#block5 .blocktext {
	margin-top: 40%;
}

#leaf1 {
	position: absolute;
	top: 10%;
	left: 50%;
	width: 20%;
}

#leaf2 {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 15%;
}

#leaf3 {
	position: absolute;
	top: 50%;
	right: 10%;
	width: 10%;
}


#alice {
	display: block;
	margin: auto;
	width: 24%;
	cursor: pointer;
}
