body {
	overflow: hidden;
}

#block1 {
	background: url('../images/bw.jpg'), linear-gradient(to bottom, #e0b549 0%,#da2b3a 100%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-blend-mode: overlay;
	/*background-color: #582823;*/
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.text {
	margin-top: 10%;
}

.lighttext {
	color: #eddab9;
}
#card1 {
	position: absolute;
	left: -5%;
	top: 10%;
	width: 30%;
}

#card2 {
	position: absolute;
	right: 7%;
	bottom: -8%;
	width: 19%;
}

#card3 {
	position: absolute;
	right: -7%;
	top: -8%;
	width: 26%;
}