body {

	background-color: #eddab9;
	overflow-x: hidden;

}
#textbox1 {
	position: absolute;
	left: 10%;
	bottom: 20%;
	width: 30%;
	z-index: 2;
}

#block1 {
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#block2 {
	margin: 0;
	width: 100%;
	height: 360%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
}


#block3 {
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 500%;
	left: 0;
	z-index: 2;
}


#cat {
	position: absolute;
	right: -2%;
	top: -3%;
	width: 75%;
	z-index: 1;
}

#alice {
	position: absolute;
	right: 50%;
	bottom: 10%;
	width: 8%;
	z-index: 2;
}
#tree {
	position: absolute;
	left: -20%;
	top: -8%;
	width: 60%;
	z-index: 2;
}


#sign {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 26%;
	margin-left: -13%;
}

.hatter {
	position: absolute;
	left: 36%;
	top: 26%;
	width: 20.8rem;
	height: 12rem;
	background-image:url('../images/hatter1.png');
	background-size: cover;
	cursor: pointer;
}

.hatterhover {
	cursor: pointer;
	background-image:url('../images/hatter2.png');
}

.hare {
	position: absolute;
	left: 39%;
	top: 58%;
	width: 20rem;
	height: 9rem;
	background-image:url('../images/hare1.png');
	background-size: cover;
	cursor: pointer;
}

.harehover {
	cursor: pointer;
	background-image:url('../images/hare2.png');
	background-size: cover;
}

#king {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 15%;
}

.ch3header {
	position: absolute;
	left: 5%;
	top: 45%;
	width: 35%;
	z-index: 2;
}

.ch3header img {
	width: 100%;
	margin-bottom: 0;
}

#kitty {
width: 100%;
float: right;
margin-right: -50%;
margin-top: -55%;
}

#mad {
	width: 130%;
	margin-left: -15%;
	margin-top: 5%;
	margin-bottom: 5%;
}